<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas Alejandro</title>
    <link rel="icon" type="imagen/png" href="/restaurante-gitflow/imagenes/restaurante.png">
    <link rel="stylesheet" href="/restaurante-gitflow/styles/galery.css">
</head>
<body>

    <section>
        <article>
            <div class="imagen"><!-- imagen--></div>
            <div class="description">
                <h2>Pizza Hawayana</h2>
                <p>description</p>
            </div>
        </article>
        <article>
            <div class="segunda_imagen"><!-- imagen--></div>
            <div class="segunda_description">
                <h2>Pizza peperoni</h2>
                <p>description</p>
            </div>
        </article>
        <article>
            <div class="tercera_imagen"><!-- imagen--></div>
            <div class="tercera_description">
                <h2>Pizza ranchera</h2>
                <p>description</p>
            </div>
        </article>
    </section>
</body>
</html>