<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas Alejandro</title>
    <link rel="stylesheet" href="/restaurante-gitflow/styles/home.css">
    <link rel="icon" type="imagen/png" href="/restaurante-gitflow/imagenes/restaurante.png">
</head>
<body>
    <nav class="menu">
        <h1>🏠 <a href="/restaurante-gitflow/views/home.html">inicio</a></h1>
        <h1>🎫cupones</h1>
        <h1>🛒tienda</h1>
        <h1>🛵Metodo de entrega</h1>
        <h1>🍽️ <a href="/restaurante-gitflow/views/galery.html">Menú</a>  </h1>
    </nav>
</body>
</html>